<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card card-block">
        <h4 class="card-title"><%= link_to @tweet.user.username, user_path(@tweet.user.username) %></h4>
        <center><%= image_tag @tweet.image, class: "img-fluid" %></center>
        <p class="card-text"><%= @tweet.content %></p>
        <% if @tweet.user == current_user %>
          <%= link_to 'Edit', edit_tweet_path(@tweet), class: "card-link" %>
          <%= link_to 'Delete', @tweet, method: :delete, class: "card-link" %>
        <% end %>
        <%= link_to 'Back', tweets_path, class: "card-link" %>
      </div>
    </div>
  </div>
</div>